* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v51_0 {
  width: 100%;
  height: 2692px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_1 {
  width: 100%;
  height: 77px;
  background: rgba(4,4,2,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_3 {
  width: 232px;
  color: #696358;
  position: absolute;
  top: 12px;
  left: 36px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v26_0 {
  width: 100%;
  height: 100%;
  background: rgba(135,130,120,1);
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 0px;
  overflow: hidden;
}
.v42_3 {
  width: 681px;
  height: 386px;
  background: url("../images/v42_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1299px;
  left: 30%;
  overflow: hidden;
}
.v26_2 {
  width: 100%;
  height: 64px;
  background: rgba(42,41,37,1);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.v26_3 {
  width: 56px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 83px;
  left: 83px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v26_4 {
  width: 81px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 83px;
  left: 183px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v26_5 {
  width: 89px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 78px;
left: 30%;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v26_6 {
  width: 118px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 82px;
 left: 30%;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_0 {
  width: 681px;
  height: 385px;
  background: url("../images/v42_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 470px;
left: 30%;
  overflow: hidden;
}
.v42_2 {
  width: 361px;
  color: rgba(42,41,37,1);
  position: absolute;
  top: 399px;
  left: 359px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_4 {
  width: 361px;
  color: rgba(42,41,37,1);
  position: absolute;
  top: 1218px;
  left: 359px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_6 {
  width: 361px;
  color: rgba(42,41,37,1);
  position: absolute;
  top: 2059px;
  left: 359px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v42_5 {
  width: 681px;
  height: 357px;
  background: url("../images/v42_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2152px;
 left: 30%;
  overflow: hidden;
}
.v25_0 {
  width: 56px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 77px;
  left: 70%;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_4 {
  width: 81px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 77px;
  left: 35%;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_5 {
  width: 89px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 72px;
  left: 622px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_6 {
  width: 118px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 76px;
  left: 50%;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.aq{
  text-decoration:none;
  color: rgba(156,150,138,1);
}
.ac{
  text-decoration:none;
  color:black;
}