* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v66_0 {
  width: 100%;
  height: 1283px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v36_21 {
  width: 100%;
  height: 77px;
  background: rgba(4,4,2,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v36_22 {
  width: 232px;
  color: rgba(4,4,2,1);
  position: absolute;
  top: 12px;
  left: 36px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v36_23 {
  width: 100%;
  height: 100%;
  background: rgba(135,130,120,1);
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 1px;
  overflow: hidden;
}
.v36_24 {
  width: 100%;
  height: 64px;
  background: rgba(42,41,37,1);
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.v36_25 {
  width: 56px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 83px;
  left: 83px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v36_26 {
  width: 81px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 83px;
  left: 183px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v36_27 {
  width: 89px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 78px;
  left: 292px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v36_28 {
  width: 118px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 82px;
  left: 384px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v63_3 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 190px;
  left: 25px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v23_4 {
  width: 81px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 77px;
  left: 35%;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_5 {
  width: 89px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 72px;
  left: 622px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v23_6 {
  width: 118px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 76px;
  left: 50%;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.aq{
  text-decoration:none;
  color: rgba(156,150,138,1);
}
.ac{
  text-decoration:none;
  color:black;
}
.v25_0 {
  width: 56px;
  color: rgba(156,150,138,1);
  position: absolute;
  top: 77px;
  left: 70%;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v14_3 {
  width: 232px;
  color: #696358;
  position: absolute;
  top: 12px;
  left: 36px;
  font-family: Shadows Into Light Two;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
