@page
@model RetroUsaCars.Pages.FAQ

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet" />
	<link href="./css/FAQ.css" rel="stylesheet" />
	<title>FAQ</title>
</head>
<body>
	<div class="v66_0"
		><div class="v36_21"></div>
		<span class="v14_3"><a class = "aq" href="index.html">Retro USA Cars</a></span>
		<div class="v36_23"></div>
		<div class="v36_24"></div>
		<span class="v23_6"><a class = "aq" asp-page="ModelsCar" >Model</a></span>
                    <span class="v25_0"><a class = "aq" asp-page="FAQ" >FAQ</a></span>
                    <span class="v23_4"><a class = "aq"  asp-page="SearchCar">Search</a></span>
		<span class="v63_3">What do I need to rent a car?
Each person who intends to drive must bring a valid driver's license to drive in Japan, passport, and a valid means of payment (generally via credit card). All of these items must be submitted on the day the car will be picked up. Kindly pay with an affiliated credit card. If you wish to pay in cash, you must also submit an item of identification (copies are acceptable) in addition to your driver's license. <p>
-------------------------------------------------------------------------<p>
<p>
What type of driver's license do I need to drive in Japan?
You will need a valid International Driving Permit issued by a competent government institution that conforms to the format specified by the Geneva Convention on Road Traffic 1949.<p>
----------------------------------------------------------------------<p>
Can anyone besides the reservation applicant drive the car?<p>
Yes;

however, each person who intends to drive the car must submit a valid driver’s license on the day the car will be picked up. If it is not possible for all drivers to be present on the day of pick-up, a copy of their driver’s license (both sides) and passport must be prepared in advance and submitted
----------------------------------------------------------------.<p>

Can beginner drivers (driving with a driver’s license issued less than one year ago) also rent a car?<p>
Yes. No restrictions are placed on the date of issuance of the driver’s license. We have a large-scale compensation system that beginner drivers can use to rent a vehicle without worries. People with little confidence in their driving skills are also welcome to use our services.<p>
------------------------------------------------------------<p>

Can elderly people also rent cars?<p>
Yes. No age restrictions are in place. Anybody with a valid driver’s license can rent a vehicle.</span>
</div>
</body>
</html>