@page
<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet" />
	<link href="./css/main.css" rel="stylesheet" />
	<title>RetroCars</title>
</head>
<body>
	<div class="v3_4">
		<div class="v1_2">
			
		</div>
		<div class="v1_3">
			
		</div>
		<div class="v5_3">
			
		</div>
		<span class="v3_0">Choosing us you will not regret it. First-class service and maximum comfort coupled with charming cars is our rule.</span>
		<span class="v1_5">Retro USA Cars</span> <span class="v1_51"><a href='@Url.Page("/Log in")'>Log in</a> 
			</span><div class="v1_6">

			
		</div>
		<span class="v1_7">THE BEST CARSHARING IN THE KAZAN</span>
		<div class="name">
		</div>
		<div class="v1_9">
			
		</div>
		<div class="v2_1">
			
		</div>
		<span class="v2_6">The best cars for your taste are already waiting in our parking lots. You are given the opportunity to ride on our magnificent exhibits.</span>
		<span class="v2_7">Feel like a star in our cars. Almost for nothing.</span>
		<div class="name">
			
		</div>
		<div class="v2_9"></div>
		<div class="v2_15"></div>
		<div class="name"></div>
		<div class="name"></div>
		<div class="v6_0"></div>
		<span class="v2_11">NieAnDeVar</span>
		<span class="v2_10">Kazan, 2020</span>
		<div class="v23_2"></div>
		
		<span class="v23_5"><a href="" >Support</a></span>
		<span class="v23_6"><a href="Account.html" >Account</a></span>
		<span class="v25_0"><a href="FAQ.html" >FAQ</a></span>
		<span class="v23_4"><a href="Cars.html" >Cars</a></span>
	</div>
</body>
</html>
