@page
@model RetroUsaCars.Pages.Success

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet" />
	<link href="./css/Chevrolet_ZR.css" rel="stylesheet" />
	<title>Document</title>
</head>
<body>
	<div class="v64_0">
		<div class="v36_39"></div>
		<span class="v14_3"><a class = "aq" @Url.Page("/index") >Retro USA Cars</a></span>
		<div class="v36_41"></div>
		<span class="v42_9"></span>
		<div class="v36_42"></div>

			<span class="v23_6"><a class = "aq" href="Account.html" >Account</a></span>
		<span class="v25_0"><a class = "aq" href="FAQ.html" >FAQ</a></span>
		<span class="v23_4"><a class = "aq" href="Cars.html" >Cars</a></span>
			<div class="v42_7"></div>
			<span class="v42_8">Success!</span>
		</div>
	</body>
	</html>